<div class="row" >
    <div class="col-sm-12 col-md-12 col-lg-12">
        <form class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" ng-model="planetId" class="form-control" placeholder="Search Planet">
            </div>
            <button type="button" ng-disabled="saving" class="btn btn-success " ng-click="getPlanet(planetId)">
                <span>{{SearchBtnText}}</span>
                <i class="fa fa-spinner fa-spin" ng-show="searching"></i>
            </button>

        </form>
    </div>
    <div ng-repeat="planet in planet track by $index">
        <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Planet Data</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            Name: {{planet.name}}
                        </li>
                        <li>
                            Rotation Period: {{planet.rotation_period}}
                        </li>
                        <li>
                            Orbital Period: {{planet.orbital_period}}
                        </li>
                        <li>
                            Climate: {{planet.climate}}
                        </li>
                        <li>
                            Gravity: {{planet.gravity}}
                        </li>
                        <li>
                            Terrain: {{planet.terrain}}
                        </li>
                        <li>
                            Surface Water: {{planet.surface_water}}
                        </li>
                    </ul>
                </div>

                </div>
            </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Planet Population ({{planet.population}})</h3>
                </div>
                <div class="panel-body">
                    <div style="width:{{planet.width}}" class="population"></div>
                </div>
            </div>
        </div>
    </div>
</div>

