<div style="position: absolute; top: 0; left: 0; height: 100%; width: 100%; text-align: center;">
<div style="width: 50%; margin: 0 auto;">
    <h1 style="margin-top: 100px; margin-bottom: 50px; font-size: 72px; color: #ffffff;">Xebia</h1>
    <div class="">
            <i class="fa fa-warning"></i>
            <div class="content">
                <p>It looks like an error occurred:</p>
                <pre class="logs">{{ error }}</pre>
            </div>
        <a ui-sref="login">Go To Login</a>
    </div>
</div>
</div>
